nav {
  display: inline-block;
  width: 100%;
  padding-top: 7px;
  text-transform: uppercase;
  margin: 0 auto;
  float: none;
  text-align: center; }

nav ul {
  margin: 0 auto;
  display: inline-block; }
nav li {
  display: inline-block;
  float: none; }
  nav li a {
    text-decoration: none; }

body {
  font-family: "GeoSansLight", sans-serif; }
  body p {
    padding-left: 30px;
    font-size: 18px; }

.readMore {
  border-radius: 2px;
  background-color: white;
  width: 30px;
  padding: 10px; }

.bigButton {
  border-radius: 2px;
  background-color: white;
  width: 100px;
  padding: 10px; }

#page1 {
  height: 750px;
  background-image: url("../Images/typewriter_blkwht.jpg"); }

.fixedBackground {
  min-height: 100%;
  background-attachment: fixed;
  background-position: center center; }

#page2, #page3, #page4, #page5 {
  background-size: 100%, 100%;
  background-attachment: fixed;
  background-position: center center;
  padding-top: 50px; }

#banner {
  height: 300px;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(209, 208, 208, 0.7);
  border-radius: 10px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.header {
  height: 75px;
  width: 225px;
  background-color: rgba(209, 208, 208, 0.7);
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center; }

#page2 .header, #page4 .header {
  background-color: rgba(255, 199, 227, 0.7); }

.header h1, .header h2, #banner h1, #banner h2, #banner h3 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.textBox {
  padding: 10px;
  background-color: rgba(255, 199, 227, 0.7);
  border-radius: 10px;
  margin-bottom: 20px; }

#page2 {
  min-height: 800px;
  background-color: #D1D0D0;
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed; }

.aboutColumn, .contactColumn {
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px; }

#page3 {
  min-height: 1100px;
  background-image: url("../Images/yarnmulti_sheer_blkwht.jpg"); }

#page4 {
  min-height: 600px;
  background-color: #D1D0D0; }

.icon {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: white;
  text-align: center;
  color: #FE62B1;
  display: inline-block;
  margin: 0 auto; }

.glyphicon {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #FE62B1;
  font-size: 30px; }

#page5 {
  background-image: url("../Images/typewriter_sheer.jpg");
  background-position: center center; }

.clipBlock {
  display: inline-block;
  float: left;
  margin: 0 auto;
  padding-right: 30px; }

.testPic {
  height: 100px;
  width: 100px;
  background-color: #FE62B1;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  text-align: center; }

.testImg {
  padding-bottom: 25px;
  padding-right: 25px;
  text-align: center; }

.btn-group {
  max-width: 100px;
  padding-top: 15px;
  padding-bottom: 15px; }

.scrollable-menu {
  height: auto;
  width: auto;
  max-height: 200px;
  overflow-x: auto;
  max-width: 265px; }

#page6 {
  background-color: #FFC7E3;
  min-height: 750px;
  margin: 0 auto;
  text-align: center; }

.dummyForm {
  height: 500px;
  max-width: 450px;
  margin: 0 auto;
  background-color: #D1D0D0;
  border-radius: 10px; }

.dummyForm p {
  padding-top: 20px;
  padding-right: 20px; }

.fa {
  display: inline-block;
  padding-top: 25px; }

#footer {
  width: 100%;
  background-color: #494646;
  color: white;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
