$column-width: 150px;
$border-width: 3px;
$border-style: border-width, solid black;

$font-light: "GeoSansLight", sans-serif;

$base-font: 18px;
//h1 {
  //  font-size: $base-font*3;
//}
//h3 {
  //  font-size: $base-font*2; /* it could be $base-font/3, still nice */
//}