//@import '../bourbon/bourbon';
//@import '../neat/neat';
@import 'colors';
@import 'nav';
@import 'format';

body {
	font-family: $font-light;


	p {
		padding-left: 30px;
		font-size: $base-font;
	}

	

}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin basicButton ($width) {
	border-radius: 2px;
	background-color: white;
	width: $width;
	padding: 10px;

}

.readMore {
	@include basicButton(30px);

}

.bigButton {
	@include basicButton(100px);
}

#page1 {
	height: 750px;
	background-image: url("../Images/typewriter_blkwht.jpg");

}

.fixedBackground {
	min-height: 100%;
	background-attachment: fixed;
	background-position: center center;

}

#page2, #page3, #page4, #page5 {
	background-size: 100%, 100%;
	background-attachment:fixed;
	background-position: center center;
	padding-top: 50px;
}

#banner {
	height: 300px;
	max-width: 550px;
	margin: 0 auto;
	text-align: center;
	background-color: rgba($ltgrey2, 0.7);
	border-radius: 10px;
	@include vertical-align;
}


.header {
	height: 75px;
	width: 225px;
	background-color: rgba($ltgrey2, 0.7);
	border-radius: 10px;
	margin-bottom: 20px;
	text-align: center;
}

#page2 .header, #page4 .header {
	background-color: rgba($ltpink, 0.7)
}

.header h1, .header h2, #banner h1, #banner h2, #banner h3 {
	@include vertical-align;
	
}

.textBox {
	padding: 10px;
	background-color: rgba($ltpink, 0.7);
	border-radius: 10px;
	margin-bottom: 20px;
}

#page2 {
	min-height: 800px;
	background-color: $ltgrey2;
	//background-image: url("../Images/typewriter.jpg");
	background-position: center center;
	background-repeat: repeat;
	background-attachment: fixed;
	
}

.aboutColumn, .contactColumn {
	//position: relative;
	padding-top: 60px;
	padding-left: 50px;
	padding-right: 50px;

}


#page3 {
	//experience
	//background-color: $ltpink;
	min-height: 1100px;
	background-image: url("../Images/yarnmulti_sheer_blkwht.jpg");

}

#page4 {
	//skills
	min-height: 600px;
	background-color: $ltgrey2;
}



.icon {
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background-color: white;
	text-align: center;
	color: $drkpink;
	display: inline-block;
	margin: 0 auto;

}


.glyphicon {
	@include vertical-align;
	color: $drkpink;
	font-size: 30px;
}


#page5 {
	background-image: url("../Images/typewriter_sheer.jpg");
	background-position: center center;

}

.clipBlock {
	display: inline-block;
	float: left;
	margin: 0 auto;
	padding-right: 30px;
}

.testPic {
	height: 100px;
	width: 100px;
	background-color: $drkpink;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 25px;
	text-align: center;
}

.testImg {
	padding-bottom: 25px;
	padding-right: 25px;
	text-align: center;
}

.btn-group {
	max-width: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.scrollable-menu {
    height: auto;
    width: auto;
    max-height: 200px;
    overflow-x: auto;
    max-width: 265px;
}

#page6 {
	background-color: $ltpink;
	min-height: 750px;
	margin: 0 auto;
	text-align: center;

}

.dummyForm {
	height: 500px;
	max-width: 450px;
	margin: 0 auto;
	background-color: $ltgrey2;
	border-radius: 10px;
}

.dummyForm p {
	padding-top: 20px;
	padding-right: 20px;

}

.fa {
	display: inline-block;
	padding-top: 25px;
}

#footer {
	width: 100%;
	//height: 65px;
	background-color: $drkgrey2;
	color: white;
	text-align: center;
}

